@font-face {
    font-family: "MARVELFONT";
    src: url("./fonts/Strange\ Marvel.ttf")
}

@font-face {
    font-family: "COUNTDOWN";
    src: url("./fonts/COMIZ___.TTF");
}

@font-face {
    font-family: "MYCOMICFONT";
    src: url("./fonts/SunnySand.otf");
}

@font-face {
    font-family: "MIXCOMIC";
    src: url("./fonts/MixComic.ttf");
}


.heading {

    font-family: "MYCOMICFONT";
 

}




#start {

    font-family: "MYCOMICFONT";
   



}

#youLose{



    font-family: "MARVELFONT";

}

#countdown {


    font-family: "COUNTDOWN";
    font-size: xx-large;


}



.body{


    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}



#endPage{


    background-color:#f8de00;
}


#instructions{

    font-family: "MIXCOMIC";
       

}