@font-face {
    font-family: "MARVELFONT";
    src: url("./fonts/Strange\ Marvel.ttf")
}

@font-face {
    font-family: "COUNTDOWN";
    src: url("./fonts/COMIZ___.TTF");
}

@font-face {
    font-family: "MYCOMICFONT";
    src: url("./fonts/SunnySand.otf");
}

@font-face {
    font-family: "MIXCOMIC";
    src: url("./fonts/MixComic.ttf");
}


.heading {

    font-family: "MYCOMICFONT", 'Courier New', Courier, monospace;       
 

}




#start {

    font-family: "MYCOMICFONT", 'Courier New', Courier, monospace;
    margin: auto;
   padding: 5px 10px;



}

#youLose{



    font-family: "MARVELFONT", 'Courier New', Courier, monospace;

}

#countdown {


    font-family: "COUNTDOWN", 'Courier New', Courier, monospace;
    font-size: xx-large;


}



body{


 
   text-align: center;
   background-color: lightgrey;
}



#endPage{


    background-color: lightgrey;
    margin-top: 150px;
    
}


#instructions{

    font-family: "MIXCOMIC", 'Courier New', Courier, monospace;         
       

}

#mycanv{

    margin:auto;
}